@charset "utf-8";
@import url("webfonts/LEMONMILK_Regular/stylesheet.css");
@import url("webfonts/LEMONMILK_Bold/stylesheet.css");

body {
    background-image: url(images/web_elements/web_bg.png);
	background-size: cover;
    background-repeat: no-repeat;
	margin: 0px;
}
header {
    margin: auto;
    background-image: url("images/web_elements/web_nav-bar.png");
    background-size: cover;
}
a {
    color: white;
    text-decoration: none;
    font-family: "LEMONMILK Bold";
    font-weight: bold;
    padding: 1.5%;
}
nav a {
    vertical-align: bottom;
    display: flex;
    text-align: center;
	align-items: center
}
main {
    color: white;
    font-family: "Tw Cen MT";
    font-size: large;
}
#active {
    background-image: -webkit-repeating-linear-gradient(268deg,rgba(255,145,188,0.00) 0%,rgba(236,49,122,1.00) 100%);
    background-image: -moz-repeating-linear-gradient(268deg,rgba(255,145,188,0.00) 0%,rgba(236,49,122,1.00) 100%);
    background-image: -o-repeating-linear-gradient(268deg,rgba(255,145,188,0.00) 0%,rgba(236,49,122,1.00) 100%);
    background-image: repeating-linear-gradient(182deg,rgba(255,145,188,0.00) 0%,rgba(236,49,122,1.00) 100%);
    text-decoration: underline;
	height: auto;
}
footer {
	color:white;
	font-family:"Tw Cen MT";
	text-align: center;
	
}
.pinkbg {
	background-color: #EF5692;
	margin-right: 125px;
	margin-left: 125px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25px;
	height: auto;
}
h1 {
    font-family: "LEMONMILK Bold";
    text-align: center;
    font-style: normal;
    padding-top: 3%;
    font-variant: normal;
    color: #FFFFFF;
}

.logo {
    float: left;
    width: 100%;
	min-width: 180px;
    height: auto;
    display: inline;
}
@media (min-width: 871px){
	.icon {
	display: none;
	float: left;
    width: 25%;
	min-width: 60px;
    height: auto;
	}
}
@media (max-width: 870px){
	.logo {
			display: none;
		
	}
	.icon {
	float: left;
    width: 25%;
	min-width: 60px;
    height: auto;
    display: inline;
	}
}

.align {
	float: left;
	padding-right: 25px;
	padding-bottom: 25px;
	width: auto;
	height: auto;
}
.socmed {
    color: white;
    font-family: "Tw Cen MT";
    vertical-align: middle;
    padding: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.center {
	text-align: center;
}
input {
    text-decoration: none;
	content: none;
	
}
.input {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-family: "Tw Cen MT";
    color: #EF5692;
    width: 80%;
    max-width: 100%;
}
.button {
  width: 50px;
	margin-right: 15px;
	border-radius: 10px;
}
nav {
    margin: 0px;
    padding: auto;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: none;
}
.container {
  max-width: 100%;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
align-items: center;
	display: flex;
	justify-content: space-between;
}
.portrait {
	float: left;
	padding-right: inherit;
	padding-bottom: inherit;
}
.here {
    color: #EF5692;
    font-family: "Tw Cen MT";
    color: #FFFFFF;
    width: auto;
    font-weight: normal;
    text-decoration: underline;
}
#img-container {
	width: 15%;
	min-width: 180px;
	height: 70px;
	padding: 0px
}
input[type=submit] {
	background-image: url("images/web_elements/web_submit-idle.png");
	background-size: cover;
	width: 75px;
	height: 25px;
	border: 0;

}
input[type=submit]:hover {
	background-image: url("images/web_elements/web_submit-active.png");	background-size: cover;
	width: 75px;
	height: 25px;
	border: 0;
}
input[type=reset] {
	background-image: url("images/web_elements/web_reset-idle.png");	background-size: cover;
	width: 75px;
	height: 25px;
	border: 0;
}
input[type=reset]:hover {
	background-image: url("images/web_elements/web_reset-active.png");
	background-size: cover;
	width: 75px;
	height: 25px;
	border: 0;
}
.img-line-up {
  width: 45%;
  height: auto;
  display: inline;
  /* margin-right: 20px; */
  margin-bottom: 5px;
  text-align: center;
  vertical-align: top;
}
.img-spread {
	margin: auto !important;
	display: inline !important;
}
.spread-lineup {
	display: flex;
	align-items: center !important;
	justify-content: center !important;
}
.award {
	min-height: 110px;
	min-width: 110px;
	max-height: 200px;
	max-height: 200px;
}
.row-center {
	text-align: center;
}